<!DOCTYPE html>

<html>
  <head>
    <meta charset="UFT-8" />
    <meta http-equiv="X_UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Homepage</title>
  </head>
  <body>
    <h2>Login Employee or Manager</h2>
    <a id="employee_login_link" href="http://127.0.0.1:5000/login/employee">
      <div>
        <button id="employee-button">Employee Login</button>
      </div>
    </a>
    <a id="manager_login_link" href="http://127.0.0.1:5000/login/manager">
      <div>
        <button id="manager-button">Manager Login</button>
      </div>
    </a>
  </body>
</html>
