<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager account page</title>
  </head>
  <body>
    <h3>Manager Dashboard</h3>
    <a href="">
      <div>
        <button>View Request</button>
      </div>
    </a>
    <a href="">
      <div>
        <button>View Accepted Request</button>
      </div>
    </a>
    <a href="">
      <div>
        <button>View Reject Request</button>
      </div>
    </a>
  </body>
</html>
